*,*:before,*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    border: 0;
    width:100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color:#fff;
    font-family: 'Lato',sans-serif;
    font-size:0.9em;
    color:#222;
}

main {
    display: flex;
    flex:1 0 auto;

}

footer {
    display: flex;
    flex:0 0 90px;
    background-color: #5073a7;
    padding: 10px;
    color:#fff;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    flex:0 0 40px;
    align-items: center;
}

aside i.fa {
    font-size:0.9em;
}

.content {
    display: flex;
    flex-direction: column;
    flex:1 1 auto;

}

.music-head {
    background-color: #4e4e4e;
    display: flex;
    flex: 0 0 280px;
    padding: 40px;
}

.music-details {
    display: flex;
    flex-direction: column;
    color: #ffffe3;
    padding-left: 50px;
    flex:1 1 auto;
    font-weight: 300;
}

.music-details div:nth-child(1) {
    margin-bottom: auto;
}

.music-details div:nth-child(2){
    margin-top: 0;
}

.music-details div:nth-child(2) i.fa {
    font-size:0.9em;
    padding:0 0.7em;
    font-weight: 300;
}

.music-details div:nth-child(1) p:first-child {
    font-size: 1.8em;
    margin:2px 0;
}
.song-names {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
    padding: 5px 10px 0px;
}

li{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 50px;
}

li p {
    flex: 1 1 25%;
}

li:nth-child(even) {
    background-color: #f2f2f2;
}

.catty-cloud {
    border:1px solid black;
    font-size:0.6em;
    padding: 3px;
}

.currently-playing {
    display: flex;
    flex:1 0 auto;
}

.currently-playing img {
    width: 90px;
    margin-right: 10px;
}

.change-song {
    display: flex;
    flex:1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.change-song i.fa {
    padding-left:40px;
}


/*

=============================================================================================================================================
Mobile Responsiveness
=============================================================================================================================================

*/

/*@media screen and (max-width:64em) {
    .sm-hide{
        display: none;
    }

    .sm-text-center {
        text-align: center;
    }

    .sm-text-right {
        text-align: right;
    }
}*/

@media screen and (max-width:768px)
{
    .sm-hide {
        display: none;
    }

    .sm-text-right {
        text-align: right;
    }

    .sm-text-center {
        text-align: center;
    }

    .music-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex:0 0 auto;
        padding:40px 0;
        background-color: #4e4e4e;
    }

    .music-details {
        padding: 0;
    }

    .music-head img {
        width:150px;
    }

    .music-details div:nth-child(1) p:first-child {
        font-size: 1em;
        margin: 20px 0;
    }

    .change-song {
        justify-content: space-around;
    }

    li p {
        flex: 0 0 50%;
    }